html,body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.content{
    border-style: groove;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
    min-height: 100vh;
}
h1 {
    text-align: center;
}

.form-heading{
    border-style: groove;
}

.form{
    border-style: groove;
}

